@{
    ViewBag.Title = "Home Page";
}

<h1>Greenwich School</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Introduction</h2>
        <p>
            The University of Greenwich (Vietnam) was formed on the basis of the link between the University of Greenwich (United Kingdom) and FPT Education Organization since 2009 with more than 10,000 students from 10 countries around the world studying and studying. .

            The training content, lecturers and facilities are assessed and recognized for quality by experts from the UK and the University of Greenwich.

            Graduates will receive a Bachelor's degree (Bachelor's Degree) from the University of Greenwich (United Kingdom), which is globally valid. With this degree, students can continue their studies to Master's and Doctoral degrees in many countries around the world.
        </p>
    </div>

</div>